body {
	background-color: silver;
	margin: 0;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h4 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h5 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h6 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

a {
	color: mediumblue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration-line: none;
}

xmp {
	font-size: 10px;
}

/*-------------------------------------------------------------------------------*/

.app-container {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 40px);
	padding: 20px;
}

.app-title {
	text-align: center;
}

.app-slogan {
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
}

/*-------------------------------------------------------------------------------*/

.class-item-container {
	align-self: center;
	max-width: 500px;
	width: 100%;
}

.class-item-top-detail-container {
	background-color: rgb(235,235,235);
	border: 2px solid black;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 10px
}

.class-item-lessons-container {
	align-items: flex-start;
	background-color: white;
	border-bottom: 2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	display: flex;
	flex-direction: column;
	padding: 10px
}

.class-item-lesson-item {
	text-align: left;
	width: 100%;
}

/*-------------------------------------------------------------------------------*/

.telegram-content-container {
	align-self: center;
	align-items: center;
	background-color: rgba(0,0,0,0.1);
	border: 2px solid rgb(240,240,240);
	display: flex;
	justify-content: center;
	margin-top: 40px;
	padding: 10px
}

.telegram-label {
	margin-left: 10px;
}

/*-------------------------------------------------------------------------------*/

.read-modal-main-container {
	display: flex;
	flex: 1;
	justify-content: center;
}

.read-modal-background {
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.read-modal-content-container {
	background-color: gainsboro;
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 700px;
	padding: 20px;
	z-index: 2;
}

.read-modal-content {
	align-items: flex-start;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: -20px;
	padding: 20px
}