body {
	background-color: silver;
	margin: 0;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h4 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h5 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h6 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

a {
	color: black;
	text-decoration-line: none;
}

/*-------------------------------------------------------------------------------*/

.app-container {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 40px);
	padding: 20px;
	text-align: center;
}

.app-slogan {
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
}

/*-------------------------------------------------------------------------------*/

.class-item-container {
	align-self: center;
	max-width: 500px;
	width: 100%;
}

.class-item-top-detail-container {
	background-color: rgb(235,235,235);
	border: 2px solid black;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 10px
}

.class-item-lessons-container {
	align-items: flex-start;
	background-color: white;
	border-bottom: 2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	display: flex;
	flex-direction: column;
	padding: 10px
}